.env
*.pyc
__pycache__/
temp_*.jpg

TELEGRAM_BOT_TOKEN=8394604153:AAG5ZtBnSmGWNJDhHN5WjCTkVy1YoWb85Y8

# Бесплатные API ключи (получить за 1 минуту)
DEEPSEEK_API_KEY=sk-70d7442bca10446f9a366dae317c0bad  # https://platform.deepseek.com
GROQ_API_KEY=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     # https://console.groq.com

